.label {
  font-weight: 600;
}

/*****modifier-Form*****/

.modifier-form {
  label {
    font-weight: bold;
  }
  .form-header {
    color: #fff;
    background-color: $lightDarkGray !important;
    border-color: $lightDarkGray !important;
  }

  margin-top: 10px;
  .card-body {
    padding: 0.75rem 1.25rem;
  }

  .form-control {
    height: calc(1em + 0.75rem + 1px);
    padding: 0.275rem 0.75rem;
  }
  .custom-select {
    height: calc(1em + 0.75rem + 1px);
    padding: 0.275rem 0.75rem;
  }
  .was-validated .form-control:valid,
  .form-control.is-valid {
    border-color: #2eb85c;
    background-repeat: no-repeat;
    background-size: calc(0.45em + 0.175rem) calc(0.55em + 0.175rem);
  }
  .custom-select.is-valid {
    padding-right: calc(0.75em + 2.3125rem);
    background-repeat: no-repeat;
    background-size: calc(0.45em + 0.175rem) calc(0.55em + 0.175rem) !important;
  }
  .option-header {
    .item-card{
    margin-top: 10px;
    }
    .card-header {
      padding: 0.3rem 1.75rem !important;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto {
      padding-right: 5px;
      padding-left: 5px;
    }

    .option-status {
      .form-control.is-valid {
        background-position: right calc(0.575em + 0.2875rem) center;
      }
    }
  }
}

/***Item-form**/

.dietType {
  .col-2,
  .col-3 {
    padding-right: 5px;
    padding-left: 0px;
  }
  img {
    width: 25px;
    height: 25px;
  }
}

.order-form {
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.25em + 0.75rem + 2px);
    padding: 0.055rem 0.75rem !important;
    font-size: inherit !important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .custom-select {
    padding: 0.035rem 0.75rem !important;
    font-size: inherit !important;
    height: calc(1em + 0.75rem + 2px);

  }
  .customer-info{
   text-align: left;
    //padding-right: 15px;
  }

  .card{
    margin-top: 20px;
    .card-header {
      padding: .15rem 1.25rem;
      margin-bottom: 0;
      background-color: rgba(0,0,0,.03);
      border-bottom: 1px solid rgba(0,0,0,.125);
      text-align: center;
  }
  }
}
